CheckServiceClient/Connected Services/ServiceReference1/CheckService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CheckService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5778/CheckService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5778/CheckService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICheckService_SendCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCheck" />
  </wsdl:message>
  <wsdl:message name="ICheckService_SendCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ICheckService_RequestChecks_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestChecks" />
  </wsdl:message>
  <wsdl:message name="ICheckService_RequestChecks_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestChecksResponse" />
  </wsdl:message>
  <wsdl:portType name="ICheckService">
    <wsdl:operation name="SendCheck">
      <wsdl:input wsam:Action="http://tempuri.org/ICheckService/SendCheck" message="tns:ICheckService_SendCheck_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ICheckService/SendCheckResponse" message="tns:ICheckService_SendCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestChecks">
      <wsdl:input wsam:Action="http://tempuri.org/ICheckService/RequestChecks" message="tns:ICheckService_RequestChecks_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ICheckService/RequestChecksResponse" message="tns:ICheckService_RequestChecks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICheckService" type="tns:ICheckService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendCheck">
      <soap:operation soapAction="http://tempuri.org/ICheckService/SendCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestChecks">
      <soap:operation soapAction="http://tempuri.org/ICheckService/RequestChecks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckService">
    <wsdl:port name="BasicHttpBinding_ICheckService" binding="tns:BasicHttpBinding_ICheckService">
      <soap:address location="http://localhost:5778/CheckService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>